* {
  margin: 0;
  padding: 0;
  border-style: border-box;
}
body {
  background-color: #f4845f;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
textarea {
  padding: 2em;
  min-width: 40vw;
  min-height: 100vh;
  font-size: 0.8em;
  background-color: #118ab2;
  border-radius: 2em;
}
#preview {
  padding: 2em;
  border-radius: 2em;
  max-width: 40vw;
  min-height: 100vh;
  background-color: #06d6a0;
  overflow: hidden;
}
